# @package _global_

defaults:
  - _self_
  - data: iwslt2017 # choose datamodule with `test_dataloader()` for evaluation
  - model: transformer
  - logger: wandb
  - trainer: default
  - paths: default
  - extras: default
  - hydra: default

task_name: "eval"

tags: ["dev"]

# passing checkpoint path is necessary for evaluation
ckpt_path: /data/xuwei/code/Transformer/logs/train/runs/2025-11-08_02-10-04/checkpoints/epoch_011.ckpt
